<router-outlet></router-outlet>
<div class="main-content">
    <!--left-fixed -navigation-->
    
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--toggle button start-->
            <!-- <button id="showLeftPush"><i class="fa fa-bars"></i></button> -->
            <!--toggle button end-->
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>MEDQUEST</h1>
                    <span>AdminPanel</span>
                </a>
            </div>
            
            <div class="clearfix"> </div>
        </div>
        <div class="header-right">
            <div class="profile_details_left"><!--notifications of menu start -->
                <ul class="nofitications-dropdown">
                    <li class="dropdown head-dpdn">
                        <a href="dashboard.html" class="dropdown-toggle menu-active">Dashboard<!-- i class="fa fa-envelope"></i><span class="badge">3</span> --></a>
                        
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="dashboard.html" class="dropdown-toggle">Sys config<!-- i class="fa fa-envelope"></i><span class="badge">3</span> --></a>
                        
                    </li>
                    <li class="dropdown head-dpdn">
                        <a href="dashboard.html" class="dropdown-toggle">Modules<!-- i class="fa fa-envelope"></i><span class="badge">3</span> --></a>
                        
                    </li>
                        
                    
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--notification menu end -->
            <div class="profile_details">		
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">	
                                <span class="prfil-img"><img src="images/a.png" alt=""> </span> 
                                <div class="user-name">
                                    <p>Administrator</p>
                                    <!-- <span>Administrator</span> -->
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>	
                            </div>	
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="#"><i class="fa fa-cog"></i> Change Password</a> </li> 
                            <!-- <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>  -->
                            <li> <a href="index.html"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>	
        </div>
        <div class="clearfix"> </div>	
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper-own">
        <div class="main-page">

  <div class="row text-center text-lg-left">

    <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
        <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/1.png" alt="">
        </div>
          
        <div class="row row-padding text-center dashboard-menu"> Reports</div>
      
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
      <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/2.png" alt="">
        </div>
          
        <div class="row row-padding text-center sys-config-color"> User Management</div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
     <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/3.png" alt="">
        </div>
          
        <div class="row row-padding text-center modules-menu"> Inventory</div>
    </div>
   <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
     <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/4.png" alt="">
        </div>
          
        <div class="row row-padding text-center dashboard-menu"> Dashboard</div>
    </div>
   <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
     <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/5.png" alt="">
        </div>
          
        <div class="row row-padding text-center sys-config-color"> Care Area Setting</div>
    </div>
   <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
     <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/6.png" alt="">
        </div>
          
        <div class="row row-padding text-center modules-menu"> Order </div>
    </div>
   <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
      <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/7.png" alt="">
        </div>
          
        <div class="row row-padding text-center dashboard-menu"> Predictive Analysis</div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
      <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/8.png" alt="">
        </div>
          
        <div class="row row-padding text-center sys-config-color"> Integration 
        Setting</div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 responsive-pad-col">
      <div class="row row-padding text-center">
            <a href="tables.html" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="images/9.png" alt="">
        </div>
          
        <div class="row row-padding text-center modules-menu"> Stock Movement</div>
    </div>
  
    </div>
  </div>

        </div>
    </div>
    <!--footer-->
    <div class="footer">
       <p>&copy; 2017 Medquest Login Form. All Rights Reserved | Design by <a href="#" target="_blank">IBMS</a>	</a></p>
    </div>
    <!--//footer-->
</div>
