
body {
	font-family: 'Nunito', sans-serif;
	font-size: 100%;
	text-align: center;
	background: linear-gradient(#2EA70E, #0F3506);
	  /*background: linear-gradient(180deg,#2EA70E 40%, #0F3506);*/
	background-repeat: no-repeat;
    background-attachment: fixed;
	/*background: url(../images/banner.jpg)no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;*/
}
